examples/flows.json
[
    {
        "id": "a9f15cb41dc0ee30",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc51b49e5e2bb326",
        "type": "inject",
        "z": "a9f15cb41dc0ee30",
        "name": "Get version",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "ee2d60caf9ac69eb"
            ]
        ]
    },
    {
        "id": "184ee19c3308cd68",
        "type": "debug",
        "z": "a9f15cb41dc0ee30",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 60,
        "wires": []
    },
    {
        "id": "ee2d60caf9ac69eb",
        "type": "NGSI-LD broker version",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "broker": "907c553d7533ec10",
        "x": 430,
        "y": 60,
        "wires": [
            [
                "184ee19c3308cd68"
            ]
        ]
    },
    {
        "id": "a3410f528ee375ac",
        "type": "inject",
        "z": "a9f15cb41dc0ee30",
        "name": "Create entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"urn:ngsi-ld:TemperatureSensor:001\",\"type\":\"TemperatureSensor\",\"category\":{\"type\":\"Property\",\"value\":\"sensor\"},\"temperature\":{\"type\":\"Property\",\"value\":25,\"unitCode\":\"CEL\"},\"location\":{\"type\":\"GeoProperty\",\"value\":{\"type\":\"Point\",\"coordinates\":[-73.975,40.775556]}}}",
        "payloadType": "json",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "2b6a055f03286194"
            ]
        ]
    },
    {
        "id": "2b6a055f03286194",
        "type": "NGSI-LD Entity",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "broker": "907c553d7533ec10",
        "atContext": "",
        "actionType": "create",
        "entityId": "",
        "attrs": "",
        "geometryProperty": "",
        "lang": "",
        "forbidden": "false",
        "x": 400,
        "y": 140,
        "wires": [
            [
                "0b8b31ba473790f3"
            ]
        ]
    },
    {
        "id": "7fec837efa65b713",
        "type": "NGSI-LD Entity",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "broker": "907c553d7533ec10",
        "atContext": "",
        "actionType": "read",
        "entityId": "",
        "attrs": "",
        "sysAttrs": "true",
        "representation": "keyValues",
        "geometryProperty": "",
        "lang": "",
        "accept": "application/json",
        "forbidden": "false",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "0b8b31ba473790f3"
            ]
        ]
    },
    {
        "id": "58d9e8036ea72fd5",
        "type": "NGSI-LD Entity",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "broker": "907c553d7533ec10",
        "atContext": "",
        "actionType": "delete",
        "entityId": "",
        "attrs": "",
        "geometryProperty": "",
        "lang": "",
        "forbidden": "false",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "0b8b31ba473790f3"
            ]
        ]
    },
    {
        "id": "26bd6fdd9039612d",
        "type": "inject",
        "z": "a9f15cb41dc0ee30",
        "name": "Read entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "urn:ngsi-ld:TemperatureSensor:001",
        "payloadType": "str",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "7fec837efa65b713"
            ]
        ]
    },
    {
        "id": "7a73ea7d42c6054b",
        "type": "inject",
        "z": "a9f15cb41dc0ee30",
        "name": "Delete entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "urn:ngsi-ld:TemperatureSensor:001",
        "payloadType": "str",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "58d9e8036ea72fd5"
            ]
        ]
    },
    {
        "id": "1025df32730815de",
        "type": "inject",
        "z": "a9f15cb41dc0ee30",
        "name": "Batch create",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"id\":\"urn:ngsi-ld:TemperatureSensor:002\",\"type\":\"TemperatureSensor\",\"category\":{\"type\":\"Property\",\"value\":\"sensor\"},\"temperature\":{\"type\":\"Property\",\"value\":20,\"unitCode\":\"CEL\"}},{\"id\":\"urn:ngsi-ld:TemperatureSensor:003\",\"type\":\"TemperatureSensor\",\"category\":{\"type\":\"Property\",\"value\":\"sensor\"},\"temperature\":{\"type\":\"Property\",\"value\":2,\"unitCode\":\"CEL\"}},{\"id\":\"urn:ngsi-ld:TemperatureSensor:004\",\"type\":\"TemperatureSensor\",\"category\":{\"type\":\"Property\",\"value\":\"sensor\"},\"temperature\":{\"type\":\"Property\",\"value\":100,\"unitCode\":\"CEL\"}}]",
        "payloadType": "json",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "e26d65c74539be2f"
            ]
        ]
    },
    {
        "id": "0b8b31ba473790f3",
        "type": "debug",
        "z": "a9f15cb41dc0ee30",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "97fb19492e327147",
        "type": "inject",
        "z": "a9f15cb41dc0ee30",
        "name": "Batch delete",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"urn:ngsi-ld:TemperatureSensor:002\",\"urn:ngsi-ld:TemperatureSensor:003\",\"urn:ngsi-ld:TemperatureSensor:004\"]",
        "payloadType": "json",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "d93f07a0cc167ffe"
            ]
        ]
    },
    {
        "id": "6062cbf3b8f8f5ae",
        "type": "inject",
        "z": "a9f15cb41dc0ee30",
        "name": "Batch upsert",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"id\":\"urn:ngsi-ld:TemperatureSensor:002\",\"type\":\"TemperatureSensor\",\"category\":{\"type\":\"Property\",\"value\":\"sensor\"},\"temperature\":{\"type\":\"Property\",\"value\":21,\"unitCode\":\"CEL\"}},{\"id\":\"urn:ngsi-ld:TemperatureSensor:003\",\"type\":\"TemperatureSensor\",\"category\":{\"type\":\"Property\",\"value\":\"sensor\"},\"temperature\":{\"type\":\"Property\",\"value\":27,\"unitCode\":\"CEL\"}}]",
        "payloadType": "json",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "ecec0fc4f372d133"
            ]
        ]
    },
    {
        "id": "e26d65c74539be2f",
        "type": "NGSI-LD Batch operations",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "broker": "907c553d7533ec10",
        "actionType": "create",
        "atContext": "",
        "forbidden": "false",
        "x": 380,
        "y": 440,
        "wires": [
            [
                "ceeb703af26e0179"
            ]
        ]
    },
    {
        "id": "ecec0fc4f372d133",
        "type": "NGSI-LD Batch operations",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "broker": "907c553d7533ec10",
        "actionType": "upsert",
        "atContext": "",
        "forbidden": "false",
        "x": 380,
        "y": 520,
        "wires": [
            [
                "ceeb703af26e0179"
            ]
        ]
    },
    {
        "id": "d93f07a0cc167ffe",
        "type": "NGSI-LD Batch operations",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "broker": "907c553d7533ec10",
        "actionType": "delete",
        "atContext": "",
        "forbidden": "false",
        "x": 380,
        "y": 600,
        "wires": [
            [
                "ceeb703af26e0179"
            ]
        ]
    },
    {
        "id": "4494aafcf9f7f1b7",
        "type": "NGSI-LD entities",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "broker": "907c553d7533ec10",
        "representation": "keyValues",
        "entityId": "",
        "entityType": "",
        "idPattern": "",
        "attrs": "",
        "sysAttrs": "false",
        "query": "",
        "csf": "",
        "georel": "",
        "geometry": "",
        "coordinates": "",
        "geoproperty": "",
        "geometryProperty": "",
        "lang": "",
        "accept": "application/ld+json",
        "atContext": "",
        "buffering": "off",
        "forbidden": "false",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "9ea76b19ceb934fd"
            ]
        ]
    },
    {
        "id": "9ea76b19ceb934fd",
        "type": "debug",
        "z": "a9f15cb41dc0ee30",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "c76379efcb9a6bb8",
        "type": "inject",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": ".*",
        "payloadType": "str",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "4494aafcf9f7f1b7"
            ]
        ]
    },
    {
        "id": "b62278935f727d57",
        "type": "NGSI-LD entity attributes",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "broker": "907c553d7533ec10",
        "actionType": "append",
        "entityId": "urn:ngsi-ld:TemperatureSensor:001",
        "atContext": "",
        "forbidden": "false",
        "x": 360,
        "y": 700,
        "wires": [
            [
                "6ef934b64201eea7"
            ]
        ]
    },
    {
        "id": "ceeb703af26e0179",
        "type": "debug",
        "z": "a9f15cb41dc0ee30",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "6ef934b64201eea7",
        "type": "debug",
        "z": "a9f15cb41dc0ee30",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 760,
        "wires": []
    },
    {
        "id": "b6d6fa91aff79cf9",
        "type": "inject",
        "z": "a9f15cb41dc0ee30",
        "name": "Append attrs",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"batteryLevel\":{\"type\":\"Property\",\"value\":0.9,\"unitCode\":\"C62\"},\"controlledAsset\":{\"type\":\"Relationship\",\"object\":\"urn:ngsi-ld:Building:barn002\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "b62278935f727d57"
            ]
        ]
    },
    {
        "id": "c17c021973d91aaa",
        "type": "NGSI-LD entity attributes",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "broker": "907c553d7533ec10",
        "actionType": "update",
        "entityId": "urn:ngsi-ld:TemperatureSensor:001",
        "atContext": "",
        "forbidden": "false",
        "x": 360,
        "y": 760,
        "wires": [
            [
                "6ef934b64201eea7"
            ]
        ]
    },
    {
        "id": "068b022533c5c2f5",
        "type": "inject",
        "z": "a9f15cb41dc0ee30",
        "name": "Update attrs",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"batteryLevel\":{\"type\":\"Property\",\"value\":0.5,\"unitCode\":\"C62\"},\"controlledAsset\":{\"type\":\"Relationship\",\"object\":\"urn:ngsi-ld:Building:barn001\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "c17c021973d91aaa"
            ]
        ]
    },
    {
        "id": "55bb9c4116dcce69",
        "type": "inject",
        "z": "a9f15cb41dc0ee30",
        "name": "Upsert attrs",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"batteryLevel\":{\"type\":\"Property\",\"value\":0.1,\"unitCode\":\"C62\"},\"controlledAsset\":{\"type\":\"Relationship\",\"object\":\"urn:ngsi-ld:Building:barn003\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "92a94029970dbeea"
            ]
        ]
    },
    {
        "id": "92a94029970dbeea",
        "type": "NGSI-LD entity attributes",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "broker": "907c553d7533ec10",
        "actionType": "upsert",
        "entityId": "urn:ngsi-ld:TemperatureSensor:001",
        "atContext": "",
        "forbidden": "false",
        "x": 360,
        "y": 820,
        "wires": [
            [
                "6ef934b64201eea7"
            ]
        ]
    },
    {
        "id": "16f5bcc4cda3d49a",
        "type": "NGSI-LD entity attribute",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "broker": "907c553d7533ec10",
        "actionType": "update",
        "entityId": "urn:ngsi-ld:TemperatureSensor:001",
        "attrName": "category",
        "deleteAll": "false",
        "datasetId": "",
        "atContext": "",
        "forbidden": "false",
        "x": 350,
        "y": 900,
        "wires": [
            [
                "0d2ef13c258e3f06"
            ]
        ]
    },
    {
        "id": "cf8f05f0bb191b07",
        "type": "inject",
        "z": "a9f15cb41dc0ee30",
        "name": "Update attr",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"value\":[\"sensor\",\"actuator\"],\"type\":\"Property\"}",
        "payloadType": "json",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "16f5bcc4cda3d49a"
            ]
        ]
    },
    {
        "id": "a2cfd81854aaa834",
        "type": "inject",
        "z": "a9f15cb41dc0ee30",
        "name": "Delete attr",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "category",
        "payloadType": "str",
        "x": 120,
        "y": 960,
        "wires": [
            [
                "4e3e1c8eb80ba715"
            ]
        ]
    },
    {
        "id": "0d2ef13c258e3f06",
        "type": "debug",
        "z": "a9f15cb41dc0ee30",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 920,
        "wires": []
    },
    {
        "id": "4e3e1c8eb80ba715",
        "type": "NGSI-LD entity attribute",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "broker": "907c553d7533ec10",
        "actionType": "delete",
        "entityId": "urn:ngsi-ld:TemperatureSensor:001",
        "attrName": "",
        "deleteAll": "false",
        "datasetId": "",
        "atContext": "",
        "forbidden": "false",
        "x": 350,
        "y": 960,
        "wires": [
            [
                "0d2ef13c258e3f06"
            ]
        ]
    },
    {
        "id": "5b286ee3a0ef9d91",
        "type": "inject",
        "z": "a9f15cb41dc0ee30",
        "name": "Decode data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"urn:ngsi-ld:TemperatureSensor:001\",\"type\":\"TemperatureSensor\",\"name\":\"%3CSensor%3E\"}",
        "payloadType": "json",
        "x": 130,
        "y": 1100,
        "wires": [
            [
                "cf3584aa7d74e045"
            ]
        ]
    },
    {
        "id": "f1a723fcd025c4a5",
        "type": "debug",
        "z": "a9f15cb41dc0ee30",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1060,
        "wires": []
    },
    {
        "id": "af5cdff4247732c5",
        "type": "NGSI-LD Encode",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "x": 350,
        "y": 1040,
        "wires": [
            [
                "f1a723fcd025c4a5"
            ]
        ]
    },
    {
        "id": "cf3584aa7d74e045",
        "type": "NGSI-LD Decode",
        "z": "a9f15cb41dc0ee30",
        "name": "",
        "x": 350,
        "y": 1100,
        "wires": [
            [
                "f1a723fcd025c4a5"
            ]
        ]
    },
    {
        "id": "e3881d8eb5837cb6",
        "type": "inject",
        "z": "a9f15cb41dc0ee30",
        "name": "Encode data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"urn:ngsi-ld:TemperatureSensor:001\",\"type\":\"TemperatureSensor\",\"name\":\"<Sensor>\"}",
        "payloadType": "json",
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "af5cdff4247732c5"
            ]
        ]
    },
    {
        "id": "907c553d7533ec10",
        "type": "NGSI-LD broker",
        "name": "Orion-LD",
        "brokerType": "orion-ld",
        "apiEndpoint": "http://orion-ld:1026",
        "mintaka": "http://mintaka:8080",
        "atContext": "https://raw.githubusercontent.com/FIWARE/tutorials.CRUD-Operations/NGSI-LD/data-models/ngsi-context.jsonld",
        "tenant": "",
        "idmEndpoint": "",
        "idmType": "none"
    }
]